/**********************************************************
 **********************************************************
 *********************** Navigation ***********************
 **********************************************************
 **********************************************************/
 
.nav {
  height: 10em;
}

/**********************************************************
 **********************************************************
 ************************* Content ************************
 **********************************************************
 **********************************************************/

.item {
  width: 12em;
  height: 12em;
  background-color: #FFFFFF;
}

.collapsible {
  border: none;
}

.collapsible-header {
  border: none;
}

.collapsible-body {
  border: none;
}